{% extends "base.html" %}

{% block content %}
<div class="card">
   <div class="article-entry">
      <div class="card-header">
         <span><i>{{ object.date|date:"d M Y" }}, {{ object.date|time:"H:i" }}</i></span>
      </div>
      <ul class="list-group list-group-flush">
         <li class="list-group-item">{{ object.first_name }} {{ object.last_name }}</li>
         <li class="list-group-item">{{ object.email }}</li>
         <li class="list-group-item">Tel: {{ object.phone_number }}</li>
         <li class="list-group-item">{{ object.notes }}</li>
      </ul>
   </div>

   <div class="card-footer text-center text-muted">
      <a href="{% url 'queue_edit' object.pk %}">Edit</a> |
      <a href="{% url 'queue_remove' object.pk %}">Remove from Queue</a>
   </div>
</div>
<br>
<div class="d-flex justify-content-center"><a href="{% url 'queue_list' %}">Go back to queue</a>.</div>
{% endblock content %}
