{% extends "base.html" %}

{% block content %}
<div class="article-entry">
   <p><i>{{ object.date|date:"d M Y" }}, {{ object.date|time:"H:i" }}</i></p>
   <p>{{ object.first_name }} {{ object.last_name }}</p>
   <p>{{ object.email }}</p>
   <p>Tel: {{ object.phone_number }}</p>
   <p>{{ object.notes }}</p>
</div>

<p><a href="{% url 'queue_edit' object.pk %}">Edit</a> |
   <a href="{% url 'queue_remove' object.pk %}">Remove from Queue</a></p>
<p>Back to <a href="{% url 'queue_list' %}">Queue</a>.</p>
{% endblock content %}
