a {
   text-decoration: none;
}
.header-bar {
   background-color: #f4623a;
}
.brand-text, .menu-text {
   color: white;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
   background-color: #f4623a !important;
}
